name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  typing:
    name: Type Checking
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install Nox
        run: uv tool install nox
      - name: Type Checking
        run: nox -t typing

  test:
    name: pytest, Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        include:
          - python-version: "3.15"
            os: ubuntu-24.04
          - python-version: "3.14"
            os: macos-15
          - python-version: "3.14"
            os: windows-2025

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: Install Nox
        run: uv tool install nox
      - name: Test
        run: nox -p ${{ matrix.python-version }} -s tests
      - name: Test with lowest requirements
        if: matrix.python-version == '3.9' && matrix.os == 'ubuntu-24.04'
        run: nox -s test-lowest
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          include-hidden-files: true
          name: coverage-data-${{ matrix.os }}-py${{ matrix.python-version }}
          path: ".coverage.*"

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs: test

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - name: Install Nox
        run: uv tool install nox
      - name: Coverage
        run: nox -s coverage
